<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - {$meta_title} </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__main.css" rel="stylesheet" type="text/css" />
<style>
    #logo {
        text-align:center;
        position:relative;
        cursor:pointer;
        color:#fff;
        background:#27ae60;
    }
</style>
<script src="__EXT__jquery-1.11.3.js"></script>
<script src="__EXT__uploadify/jquery.uploadify.min.js"></script>
<script src="__EXT__layer/layer.js"></script>
</head>
<body>
<h1>
    <span class="action-span"><a href="index.html">品牌管理</a></span>
    <span class="action-span1"><a href="{:U('index/index')}">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - {$meta_title} </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="{:U()}"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">品牌名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">品牌logo</td>
                <td>
                    <input type="file" name="file" id="logo" /><br />
                    <img src="__UPLOADURL__{$row.logo}-thumb" id="logo_thumb" alt="">
                    <!--如果logo字段存在则显示logo图-->
                    <!--<notempty name="row.logo">-->

                    <!--</notempty>-->
                    <input type="hidden" value="{$row.logo}" name="logo">
                </td>
            </tr>
            <tr>
                <td class="label">品牌描述</td>
                <td>
                    <textarea  name="intro" cols="60" rows="4"  >{$row.intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="40" size="15" value="{$row.sort|default=20}" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示</td>
                <td>
                    <input type="radio" name="status" <if condition="$row.status eq 1">checked</if> value="1"/> 是
                    <input type="radio" name="status" <if condition="$row.status eq 0">checked</if> value="0"  /> 否(当品牌下还没有商品的时候，首页及分类页的品牌区将不会显示该品牌。)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="hidden" name='id' value="{$row.id}" />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="footer">
共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<script>
    $(document).ready(function(){
        $('#logo').uploadify({
                'swf'     : '__EXT__uploadify/uploadify.swf',
                // 设定了上传文件执行的控制器与操作将不执行表单的操作
                'uploader' : '{:U("Upload/upload")}',
                'buttonText':'选择图片',
                // 上传成功时将会触发该事件
                'onUploadSuccess':function(file,data){
                    data= $.parseJSON(data);
                    if(data.status){ // 取出后台传给的成功与否值判断
                        // 给隐藏域添加logo的url地址以便提交表单录入数据
                        $(':input[name=logo]').val(data.file_url);
                        // 显示缩略图
                        $('#logo_thumb').attr('src','__UPLOADURL__'+data.file_url+'-thumb');
                        layer.msg('上传成功^_^',{icon:6});
                    }else{
                        layer.msg(data.msg,{icon:5});
                    }
                }
            }
        );
    });
</script>
</body>
</html>